body .archive {
    position: absolute !important;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50% !important;
    height: 50% !important; 
    border-radius: 10px;
}

body {
    background-color: whitesmoke;
}